/*typografi*/
body {
  font-family: 'Oswald', sans-serif;
}
/*desktop*/
  h1 {
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    color: #28F9C2;
  }
  h2 {
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    color: #28F9C2;
    margin: 0px;
  }
  h3 {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    color: #28F9C2;
    margin: 0px;
  }
  h4 {
    font-size: 70px;
    font-weight: 500;
    text-transform: uppercase;
    color: #28F9C2;
    margin: -5px;
    text-align: left;
  }
  h5 {
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    color: #28F9C2;
    margin: 0px;
  }
  p {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
  }
  span {
    font-size: 30px;
    font-weight: 500;
  }

  /* Heroytan */
  .hero {
    position: relative;
    text-align: center;
    margin: 50px;
  }
  .hero-title {
    position: absolute;
    bottom: 35%;
    left: -35px;

  }
  .hero-img {
    margin: auto;
    width: 100%;
  }

  /* Progressbar */
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .progress-bar {
    background-color: #28F9C2;
    height: 5px;
    width: 0%;
  }

  /*grid*/
  .year {
    position: relative;
    text-align: center;
    margin: 50px;
    padding-top: 20px;
  }
  .year-text {
    position: absolute;
    top: -5px;
    left: -35px;
  }

  .year-img {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #big {
    width: 66%;
    padding-bottom: 30px;
  }
  #small {
    width: 32%;
    padding-bottom: 30px;
  }
  .future {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px;
    padding-top: 20px;
  }

  /*ikoner*/
  .numbers {
    background-color: #28F9C2;
    margin: 50px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: baseline;
    position: relative;
    text-align: center;
  }
  .icons {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
  }
  .icons img {
    width: 80%;
  }
  .icon-title {
    position: absolute;
    top: 16px;
    left: -35px;
  }
  .icon-title h3, .icon-title h2 {
    color: #000000;
  }



/*Mobile*/
@media only screen and (max-width: 800px) {
h1 {
  font-size: 60px;
}
h2, h4 {
  font-size: 36px;
  margin: -5px;
}
h3, h5 {
  font-size: 18px;
  margin: -5px;
}

p {
  font-size: 16px;
}
/* Heroytan */
.hero {
  margin: 20px;
}
.hero-title {
  bottom: 30%;
  left: -15px;
}
.hero-img {
height: 400px;
object-fit: cover;
object-position: 75% 0;
}

/*grid*/
.year {
  margin: 20px;
  padding-top: 20px;
}
.year-text {
  top: 0px;
  left: -10px;
}
#big {
  width: 100%;
  padding-bottom: 15px;
}
#small {
  width: 48%;
  padding-bottom: 15px;
}
.future {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
  padding-top: 20px;
}
.future-text {
    position: absolute;
    top: -5px;
    left: -10px;
}
.future-img {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
/*ikoner*/
.numbers {
  margin: 20px;
  margin-top: 50px;
  margin-bottom: 60px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.icons {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
}
.icons img {
  width: 80%;
}
.icon-title {
  top: -25px;
  left: -10px;
}
}
@media only screen and (max-width: 549px) {
  h1 {
    font-size: 40px;
  }
  .hero-title {
    bottom: 36%;
    left: -15px;
}
